/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  height: 2px;
  background: #383838;
  margin-bottom: 5%;
}

/* Header styles */
header {
  background-color: #ffffff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 15%;
  height: 100%;
  display: flex;
  text-align: right;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav a 
{
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  color: #383838;
  text-transform: uppercase;
}

/* Main styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

main h1 {
  color: #000000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: 1500;
}

main h2 {
  color: #000000;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 28px;
  font-weight: 800;
}

main p {
  color: #333333;
  line-height: 1.2;
  font-size: 15px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}```

/* Index styles */

.container {
  padding: 5rem;
  align-content: center;
}

.left {
  float: left;
  width: 40%;
  padding: 1rem;
}

.right {
  float: right;
  width: 50%;
  padding: 1rem;
} 
